/* 
  Containers start
*/
.main__container {

}

.container, 
.img__container {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 30px;
  background-color: #fff;
}

.img__container {
  text-align: center;
  padding: 50px 0 15px 0;
}

/* 
  Containers end
*/

/* 
  Nav start
*/

.nav__container {
  position: relative;
  padding: 20px 0;
}

.nav__container .button__container {
  width: 100%;
  text-align: center;
}

.btn__link:after,
.btn__link-active:after {
  content: "";
  display: block;
  padding-top: 22px;
  border-bottom: 2px solid #ddd;
  width: 100%;
}


.btn__link-active:after {
  border-bottom: 2px solid dodgerblue;
  cursor: default;
  opacity: 1;
}

.nav__divider:after {
  content: "";
  display: block;
  border-right: 2px solid #ddd;
  height: 25px;
  position: absolute;
  top: 1em;
}

/* 
  Nav end
*/



/* 
  Sign Up start
*/

.signup__container {
  margin: 32px 0;
  text-align: center;
}
.signup__container__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
  
}

.signup__container__inner .button__container {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 4px 24px;
  margin: 8px 12px;
  border: 2px solid #ddd;
}

.signup__container__inner .button__container a {
  padding-left: 8px;
}

/* 
  Sign up end
*/

/* 
  Button Link start
*/

.link {
  font-weight: 700;
  color: #000;
}


/* 
  Button Link end
*/

/* 
  Form start
*/

.form__container {
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input { 
  margin: 12px 0;
  padding: 12px;
  width: 100%;
}




/* 
  Form end 
*/

/* 
  Button CTA start
*/

.cta__container {
  text-align: center;
}

.btn__cta {
  padding: 12px 60px;
  background-color: black;
  color: #fff;
  font-weight: 900;
}

.btn__cta:hover {
  opacity: .5;
}

/* 
  Button CTA end
*/